*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 200px;
    height: auto;
}

.banner{
    display: flex;
    flex-direction:row ;
}

@media (max-width:760px){
    .banner{
        flex-direction: column;
    }
}

.banner p{
    width: 100%;
}